{%
  set body_classes = [
    logged_in ? 'user-logged-in',
    not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
    node_type ? 'page-node-type-' ~ node_type|clean_class,
    db_offline ? 'db-offline',
  ]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
<head>
  <head-placeholder token="{{ placeholder_token|raw }}">
  <title>{{ head_title|safe_join(' | ') }}</title>
  <css-placeholder token="{{ placeholder_token|raw }}">
  <js-placeholder token="{{ placeholder_token|raw }}">
</head>
<body{{ attributes.addClass(body_classes) }}>
  <a href="#main-content" class="visually-hidden focusable skip-link">
    {{ 'Skip to main content'|t }}
  </a>
  <header id="site-header">
    <div class="outer-wrapper">
      <div class="inner-wrapper">
        {% include active_theme_path() ~ '/includes/header.html.twig' %}
        {{ page.header }}
      </div>
    </div>
  </header>
  {% if page_top %}
    {{ page_top }}
  {% endif %}

  {% if page %}
    {{ page }}
  {% endif %}

  {% if page_bottom %}
    {{ page_bottom }}
  {% endif %}
  {% include active_theme_path() ~ '/includes/footer.html.twig' %}
  {% include active_theme_path() ~ '/includes/mobile-nav.html.twig' %}
  <js-bottom-placeholder token="{{ placeholder_token|raw }}">
</body>
</html>
